// Place all the styles related to the friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.friend_h1{
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
}

.show-btn{
    font-size: 1rem;
}

.new-btn{
    font-size: 1.5rem;
}