// Place all the styles related to the friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.friend_h1{
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
}

.show-btn{
    font-size: 1rem;
}

.new-btn{
    font-size: 1.5rem;
}

.table_align td{
    vertical-align: middle  !important;
}

.card{
    width: 35%;
}

.col_th{
    column-count: 3;
}

.d_button{
    width: 8rem !important;
}

@media screen and (max-width: 767px) {
    .search_line{
        display: none;
    }   

    .log_field{
        width: 100% !important;
    }

    .card{
        width: 100%;
    }

    .hidden_el{
        display: none;
    }

    .col_th{
        column-span: 2;
    }
}